<div class="container">

    <div class="cars-container">
        <h1>Cars</h1>
        <div class="row">
            <div class="car">
                <div class="image"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>

</div>
<!-- container -->