body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}



.bookAlertBox{
  display: none;
}
/* hide the input fields */
input[name='date_from'],
input[name='date_to']{
    display: none;
}

.thumbnail>img {
    height: 183px;
    width: 100%;
    /*width: 360px;*/
}

/*@media (max-width: 480px) {
    body {
        background-color: red;
    }
}*/